{% extends 'base.html.twig' %}

{% block title %} Create Wallets{% endblock %}

{% block body %}


    {% block content %}
        <div class="jumbotron jumbotron-fluid">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-3">Create wallet</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <form method="post" action="{{ url('app_wallets_create') }}">
                <div class="form-group row">
                    <label for="name" class="col-sm-1-12 col-form-label">Name:</label>

                    <div class="col-sm-1-12">
                        <input type="text"
                               class="form-control" name="name" id="name" placeholder="Name">
                    </div>


                </div>
                <div class="col">
                    <label for="">Select a type:</label>
                    <select class="form-control" name="type" id="type">
                        <option value="1">Credit card</option>
                        <option value="2">Cash</option>
                    </select>
                </div>
                <div class="form-group row mt-2">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}
{% endblock %}
