{% extends 'base.html.twig' %}

{% block title %}Wallets{% endblock %}

{% block body %}


    {% block content %}
        <div class="jumbotron jumbotron-fluid">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-3">Wallets</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-info" href="{{ url('app_wallets_create') }}">Add New Wallet</a>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Wallet</th>
                        <th scope="col">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for wallet in wallets %}
                        <tr>
                            <th scope="row"><a class="text-danger"
                                               href="{{ url('app_wallet_delete',{'walletId':wallet.id}) }}"
                                               onclick="return confirm('{{ deleteConfirmMessage }}')">Delete</a></th>
                            <th scope="row">{{ wallet.name }}</th>
                            {% if (wallet.type==1) %}
                                <th scope="row">Credit card</th>
                            {% else %}
                                <th scope="row">Cash</th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
{% endblock %}
