{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron" >
                <div>
                    <h3 class="display-4">
                        Welcome {{ app.user.email }}
                       <small> <a class="text-danger" href="/logout" >Log out!</a></small>
                    </h3>

                    <label class="lead"><b>Your balance is : {{ balance }}$</b></label>

                </div>


    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div onclick="window.location='{{ url('app_wallets') }}'" class="card col blue-square m-1 align-content-center">
                    <img class="rounded mx-auto d-block img-size mt-4" src="{{ asset('wallet.png') }}"
                         alt="wallet">
                    <label class="mt-2 text-center text-white">
                        Wallets
                    </label>
                </div>
                <div onclick="window.location='{{ url('app_records') }}'" class="card col yellow-square m-1">
                    <img class="rounded mx-auto d-block img-size mt-4"
                         src="{{ asset('statistics.png') }}"
                         alt="statistics">
                    <label class="mt-2 text-center text-white">
                        Records
                    </label></div>

                <div onclick="window.location='{{ url('app_report') }}'" class="card col red-square m-1">
                    <img class="rounded mx-auto d-block img-size mt-4" src="{{ asset('report.png') }}"
                         alt="report">
                    <label class="mt-2 text-center text-white">
                        Reports
                    </label>
                </div>


                </div>

            </div>
        </div>

    </div>
    <style>
        .blue-square {
            background-color: #075eff;
            height: 10rem;
            align-content: center;
        }

        .green-square {
            background-color: #13f605;
            height: 10rem;
        }

        .red-square {
            background-color: #B0413E;
            height: 10rem;
        }

        .yellow-square {
            background-color: #ffc104;
            height: 10rem;
        }

        .img-size {
            max-width: 50%;
            max-height: 50%;
        }

    </style>
{% endblock %}





