{% extends 'base.html.twig' %}

{% block title %} Create Wallets{% endblock %}

{% block body %}


    {% block content %}
        <div class="jumbotron jumbotron-fluid">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-3">Create record</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <form method="post" action="{{ url('app_records_create') }}">
                <div class="form-group row">
                    <label for="title" class="col-sm-1-12 col-form-label">title:</label>

                    <div class="col-sm-1-12">
                        <input type="text"
                               class="form-control" name="title" id="title" placeholder="title">
                    </div>


                </div>

                <label for="amount" class="col-sm-1-12 col-form-label">amount:</label>
                <div class="col-sm-1-12">
                    <input type="number"
                           class="form-control" name="amount" id="amount" placeholder="amount">
                </div>

                <div class="col">
                    <label for="">Select a type:</label>
                    <select class="form-control" name="type" id="type">
                        <option value="1">Credit</option>
                        <option value="2">Debit</option>
                    </select>
                </div>
                <div class="col">
                    <label for="">Select a wallet:</label>
                    <select class="form-control" name="wallet" id="wallet">
                        {% for wallet in wallets %}
                        <option value="{{ wallet.id }}">{{wallet.name}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="form-group row mt-2">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}
{% endblock %}
