{% extends 'base.html.twig' %}

{% block title %}Records{% endblock %}

{% block body %}
    {% block content %}
        <div class="jumbotron jumbotron-fluid">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-3">Records</h1>
                        <br>
                        <h5>
                            Your balance in all wallets is: {{ sumAmount }}$
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-info" href="{{ url('app_records_create') }}">Add New Record</a>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Actions</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Title</th>
                        <th scope="col">Wallet name</th>
                        <th scope="col">Date created</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for record in records %}
                        <tr>
                            <th scope="row"><a class="text-danger"
                                               href="{{ url('app_record_delete',{'recordId':record.id}) }}"
                                               onclick="return confirm('{{ deleteConfirmMessage }}')">Delete</a></th>
                            {% if record.type==1 %}
                                <th scope="row">+{{ record.amount }}$</th>
                            {% else %}
                                <th scope="row">-{{ record.amount }}$</th>
                            {% endif %}
                            <th scope="row">{{ record.title }}</th>
                            <th scope="row">{{ record.wallet.name }}</th>
                            <th scope="row">{{ record.createdAt.format('Y-m-d , h:i') }}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
{% endblock %}
