{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #mybutton {
        position: fixed;
        top: 1px;
        right: 10px;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ title }}! ✅</h1>
    <p class="lead">
        <button class="btn btn-lg btn-primary m-2" type="button" onclick="window.location='/login'" role="button">Login</button>
        <button class="btn btn-lg btn-primary m-2" type="button" onclick="window.location='/register'" role="button">Register</button>
    </p>
</div>
    <div id="mybutton">
        <a href="/api">Api</a>
    </div>

{% endblock %}
