{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
    {% block content %}
        <div class="jumbotron jumbotron-fluid">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-3">Reports</h1>
                        <br>
                        <h5>
                            Your balance in all wallets is: <b>{{ fullBalance }} $</b>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% for wallet, WalletRecords in walletRecords %}
                <div class="row">
                    <table class="table m-2" style="background-color: #5eb5e0">
                        <thead>
                        <th scope="col">Wallet name: {{ wallet }}</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Wallet balance: {{ walletBalances[wallet][0] }}$</th>
                        </thead>
                        <table class="table mr-2 ml-2" >
                            <thead style="background-color: #AAAAAA">
                            <tr>
                                <th scope="col">Amount</th>
                                <th scope="col">Title</th>
                                <th scope="col">Date created</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for record in WalletRecords %}
                                <tr>
                                    {% if record.type==1 %}
                                        <th scope="row">+{{ record.amount }}$</th>
                                    {% else %}
                                        <th scope="row">-{{ record.amount }}$</th>
                                    {% endif %}
                                    <th scope="row">{{ record.title }}</th>
                                    <th scope="row">{{ record.createdAt.format('Y-m-d , h:i') }}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </table>

                </div>
            {% endfor %}

        </div>
    {% endblock %}
{% endblock %}
